html, body {
    height: 100%;
    margin: 0%;
    background-color: #dadada;
}

#main_area {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100%;
}

.panel {
    background-color: #efefef;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#image_upload {
    display: flex;

    margin-left: 10px;
    margin-right: 5px;

    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
}

#ctrl_panel {
    
    margin-left: 5px;
    margin-right: 10px;

    font-size: 16px;
    font-weight: bold;
}

h2 {
    text-align: center;
}

hr {
    border: 2px solid #dadada;
}

label {
    margin-left: 5%;
}

.select {
    display: flex;
    align-items: center;

    width: 90%;
    height: 30px;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 600;

    border-color: #dadada;
    border-radius: 10px;

    text-align: center;
}

.select:hover {
    cursor: pointer;
}

#high {
    display: none;
}

option {
    font-size: 14px;
}

.inefficient {
    background-color: #cc4444;
    color: #efefef;
}

/* #buttons {
    display: flex;
    align-items: center;
} */

.ctrl_btn {
    display: block;
    margin: 10px auto;

    width: 90%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;

    border: none;
    border-radius: 10px;
    background-color: #dadada;
}

.ctrl_btn:hover {
    background-color: #66dd66;
    cursor: pointer;
}

.ctrl_btn:active {
    background-color: #44bb44;
}

#sort_start {
    display: block;
}

#sort_stop {
    display: none;
}

#sort_stop:hover {
    background-color: #cc4444;
    color: #efefef;
}

#sort_stop:active {
    background-color: #aa2222;
}

#sort_state {
    color: #cc4444;
}

.state {
    margin-left: 5%;
}